<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vida">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VIDA"
        tools:targetApi="31">
        <activity
            android:name=".Recordatorios_Usuario"
            android:exported="false" />
        <activity
            android:name=".ItemGrupo"
            android:exported="false" />
        <activity
            android:name=".view.NuevoGrupo"
            android:exported="false" />
        <activity
            android:name=".view.GruposChats"
            android:exported="false" />
        <activity
            android:name=".view.MuestraPedidoUsuario"
            android:exported="false" />
        <activity
            android:name=".view.MuestraPedidosHospital"
            android:exported="false" />
        <activity
            android:name=".view.CargarPaciente"
            android:exported="false" />
        <activity
            android:name=".CargaPaciente"
            android:exported="false"
            android:theme="@style/Theme.VIDA" />
        <activity
            android:name=".view.Paciente"
            android:exported="false" />
        <activity
            android:name=".view.MuestraMensaje"
            android:exported="false" />
        <activity
            android:name=".view.SeleccionRegistro"
            android:exported="false" />
        <activity
            android:name=".view.Mensajes"
            android:exported="false" />
        <activity
            android:name=".view.RegistrarPedidoHospital"
            android:exported="false" />
        <activity
            android:name=".view.ListaPedidosHospitales"
            android:exported="false" />
        <activity
            android:name=".view.NotificacionesUrgentes"
            android:exported="false" />
        <activity
            android:name=".view.InicioHospitalesYCentros"
            android:exported="false" />
        <activity
            android:name=".view.ListaPedidosUsuario"
            android:exported="false" />
        <activity
            android:name=".view.Beneficios"
            android:exported="false" />
        <activity
            android:name=".view.Chats"
            android:exported="false" />
        <activity
            android:name=".view.RegistrarDonacion"
            android:exported="false" />
        <activity
            android:name=".view.Donaciones"
            android:exported="false" />
        <activity
            android:name=".view.CentroDonaciones"
            android:exported="false" />
        <activity
            android:name=".view.InicioUsuario"
            android:exported="false" />
        <activity
            android:name=".view.RegistrarHospitalActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegistrarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".view.HospitalesMapActivity"
            android:exported="false" />
        <activity
            android:name=".view.ListadoNotificaciones"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />
    </application>

</manifest>